:root {
  --caelestia-background: 120d08;
  --caelestia-onBackground: f5e2d2;
  --caelestia-surface: 120d08;
  --caelestia-surfaceDim: 120d08;
  --caelestia-surfaceBright: 342a1f;
  --caelestia-surfaceContainerLowest: 000000;
  --caelestia-surfaceContainerLow: 19120b;
  --caelestia-surfaceContainer: 201810;
  --caelestia-surfaceContainerHigh: 261e15;
  --caelestia-surfaceContainerHighest: 2e2419;
  --caelestia-onSurface: f5e2d2;
  --caelestia-surfaceVariant: 2e2419;
  --caelestia-onSurfaceVariant: b8a899;
  --caelestia-outline: 817365;
  --caelestia-outlineVariant: 52463a;
  --caelestia-inverseSurface: fff8f4;
  --caelestia-inverseOnSurface: 5b544c;
  --caelestia-shadow: 000000;
  --caelestia-scrim: 000000;
  --caelestia-surfaceTint: edbe8a;
  --caelestia-primary: edbe8a;
  --caelestia-primaryDim: deb17e;
  --caelestia-onPrimary: 583a11;
  --caelestia-primaryContainer: 6d4c22;
  --caelestia-onPrimaryContainer: ffdebb;
  --caelestia-inversePrimary: 7b582d;
  --caelestia-primaryFixed: ffcf9a;
  --caelestia-primaryFixedDim: efc18d;
  --caelestia-onPrimaryFixed: 4f320a;
  --caelestia-onPrimaryFixedVariant: 6f4e24;
  --caelestia-secondary: dfc1a2;
  --caelestia-secondaryDim: d1b495;
  --caelestia-onSecondary: 503c25;
  --caelestia-secondaryContainer: 4b3821;
  --caelestia-onSecondaryContainer: d8ba9c;
  --caelestia-secondaryFixed: fdddbd;
  --caelestia-secondaryFixedDim: eecfaf;
  --caelestia-onSecondaryFixed: 4f3c24;
  --caelestia-onSecondaryFixedVariant: 6e573e;
  --caelestia-tertiary: f8ffbc;
  --caelestia-tertiaryDim: e1e8a7;
  --caelestia-onTertiary: 5d632f;
  --caelestia-tertiaryContainer: eaf0af;
  --caelestia-onTertiaryContainer: 545a28;
  --caelestia-tertiaryFixed: f8ffbc;
  --caelestia-tertiaryFixedDim: eaf0af;
  --caelestia-onTertiaryFixed: 4b501f;
  --caelestia-onTertiaryFixedVariant: 676e39;
  --caelestia-error: f97758;
  --caelestia-errorDim: c44f34;
  --caelestia-onError: 450900;
  --caelestia-errorContainer: 85230a;
  --caelestia-onErrorContainer: ff9b82;
  --caelestia-primaryPaletteKeyColor: 967043;
  --caelestia-secondaryPaletteKeyColor: 8b7358;
  --caelestia-tertiaryPaletteKeyColor: 757b45;
  --caelestia-neutralPaletteKeyColor: 7e756d;
  --caelestia-neutralVariantPaletteKeyColor: 837567;
  --caelestia-errorPaletteKeyColor: c75236;
  --caelestia-primary-paletteKeyColor: 967043;
  --caelestia-secondary-paletteKeyColor: 8b7358;
  --caelestia-tertiary-paletteKeyColor: 757b45;
  --caelestia-neutral-paletteKeyColor: 7e756d;
  --caelestia-neutral-variant-paletteKeyColor: 837567;
  --caelestia-term0: 353433;
  --caelestia-term1: d77900;
  --caelestia-term2: ffc15b;
  --caelestia-term3: ffe1c0;
  --caelestia-term4: b9ab66;
  --caelestia-term5: ea9759;
  --caelestia-term6: edc46c;
  --caelestia-term7: ead5bf;
  --caelestia-term8: b0a090;
  --caelestia-term9: f98e00;
  --caelestia-term10: ffd79d;
  --caelestia-term11: fff2e6;
  --caelestia-term12: d3bf92;
  --caelestia-term13: f9af77;
  --caelestia-term14: ffd586;
  --caelestia-term15: ffffff;
  --caelestia-rosewater: ffeee3;
  --caelestia-flamingo: fcdcc4;
  --caelestia-pink: ffd4bc;
  --caelestia-mauve: ffad84;
  --caelestia-red: fa9e54;
  --caelestia-maroon: f2b07d;
  --caelestia-peach: fec285;
  --caelestia-yellow: ffeede;
  --caelestia-green: ffdb96;
  --caelestia-teal: fbdd88;
  --caelestia-sky: e1df87;
  --caelestia-sapphire: b3d27e;
  --caelestia-blue: ffa2bd;
  --caelestia-lavender: ffbcbb;
  --caelestia-klink: 559652;
  --caelestia-klinkSelection: 559652;
  --caelestia-kvisited: c96524;
  --caelestia-kvisitedSelection: c96522;
  --caelestia-knegative: cd7000;
  --caelestia-knegativeSelection: cb7100;
  --caelestia-kneutral: f59300;
  --caelestia-kneutralSelection: f49400;
  --caelestia-kpositive: d6a100;
  --caelestia-kpositiveSelection: d5a100;
  --caelestia-text: f5e2d2;
  --caelestia-subtext1: b8a899;
  --caelestia-subtext0: 817365;
  --caelestia-overlay2: 716458;
  --caelestia-overlay1: 60554a;
  --caelestia-overlay0: 51473d;
  --caelestia-surface2: 423931;
  --caelestia-surface1: 332b24;
  --caelestia-surface0: 221c16;
  --caelestia-base: 120d08;
  --caelestia-mantle: 120d08;
  --caelestia-crust: 110c08;
  --caelestia-success: B5CCBA;
  --caelestia-onSuccess: 213528;
  --caelestia-successContainer: 374B3E;
  --caelestia-onSuccessContainer: D1E9D6;
}
