:root {
  --caelestia-background: 130c0d;
  --caelestia-onBackground: f7e0e2;
  --caelestia-surface: 130c0d;
  --caelestia-surfaceDim: 130c0d;
  --caelestia-surfaceBright: 36292a;
  --caelestia-surfaceContainerLowest: 000000;
  --caelestia-surfaceContainerLow: 1a1112;
  --caelestia-surfaceContainer: 211718;
  --caelestia-surfaceContainerHigh: 281d1e;
  --caelestia-surfaceContainerHighest: 302224;
  --caelestia-onSurface: f7e0e2;
  --caelestia-surfaceVariant: 302224;
  --caelestia-onSurfaceVariant: bba6a8;
  --caelestia-outline: 837173;
  --caelestia-outlineVariant: 544446;
  --caelestia-inverseSurface: fff8f7;
  --caelestia-inverseOnSurface: 5d5353;
  --caelestia-shadow: 000000;
  --caelestia-scrim: 000000;
  --caelestia-surfaceTint: f6b6be;
  --caelestia-primary: f6b6be;
  --caelestia-primaryDim: e7a8b0;
  --caelestia-onPrimary: 60333a;
  --caelestia-primaryContainer: 75454c;
  --caelestia-onPrimaryContainer: ffdade;
  --caelestia-inversePrimary: 835158;
  --caelestia-primaryFixed: fcbbc3;
  --caelestia-primaryFixedDim: edaeb5;
  --caelestia-onPrimaryFixed: 4d232a;
  --caelestia-onPrimaryFixedVariant: 6f3f46;
  --caelestia-secondary: e5bdc1;
  --caelestia-secondaryDim: d6afb3;
  --caelestia-onSecondary: 55393c;
  --caelestia-secondaryContainer: 4f3438;
  --caelestia-onSecondaryContainer: ddb5ba;
  --caelestia-secondaryFixed: ffd9dd;
  --caelestia-secondaryFixedDim: f4cace;
  --caelestia-onSecondaryFixed: 54383b;
  --caelestia-onSecondaryFixedVariant: 735357;
  --caelestia-tertiary: ffdafb;
  --caelestia-tertiaryDim: f6c9f3;
  --caelestia-onTertiary: 6a486a;
  --caelestia-tertiaryContainer: f6c9f3;
  --caelestia-onTertiaryContainer: 613f61;
  --caelestia-tertiaryFixed: f6c9f3;
  --caelestia-tertiaryFixedDim: e8bce4;
  --caelestia-onTertiaryFixed: 4d2d4d;
  --caelestia-onTertiaryFixedVariant: 6b496b;
  --caelestia-error: fa746f;
  --caelestia-errorDim: c54d4a;
  --caelestia-onError: 490006;
  --caelestia-errorContainer: 871f21;
  --caelestia-onErrorContainer: ff9993;
  --caelestia-primaryPaletteKeyColor: 9e686f;
  --caelestia-secondaryPaletteKeyColor: 906e72;
  --caelestia-tertiaryPaletteKeyColor: 916b8f;
  --caelestia-neutralPaletteKeyColor: 807475;
  --caelestia-neutralVariantPaletteKeyColor: 857374;
  --caelestia-errorPaletteKeyColor: c84f4c;
  --caelestia-primary-paletteKeyColor: 9e686f;
  --caelestia-secondary-paletteKeyColor: 906e72;
  --caelestia-tertiary-paletteKeyColor: 916b8f;
  --caelestia-neutral-paletteKeyColor: 807475;
  --caelestia-neutral-variant-paletteKeyColor: 857374;
  --caelestia-term0: 353434;
  --caelestia-term1: ff516e;
  --caelestia-term2: ffbcae;
  --caelestia-term3: ffdedb;
  --caelestia-term4: b3a2d5;
  --caelestia-term5: ee8fa2;
  --caelestia-term6: ffba93;
  --caelestia-term7: efd2ce;
  --caelestia-term8: b49e9c;
  --caelestia-term9: ff838f;
  --caelestia-term10: ffd4ca;
  --caelestia-term11: fff1ef;
  --caelestia-term12: dcbc93;
  --caelestia-term13: fda7b5;
  --caelestia-term14: ffd1c0;
  --caelestia-term15: ffffff;
  --caelestia-rosewater: ffeded;
  --caelestia-flamingo: fed9db;
  --caelestia-pink: ffd1da;
  --caelestia-mauve: ffa6c5;
  --caelestia-red: ff95a7;
  --caelestia-maroon: f7aab4;
  --caelestia-peach: ffbdbc;
  --caelestia-yellow: ffedeb;
  --caelestia-green: ffd8c5;
  --caelestia-teal: ffdb94;
  --caelestia-sky: ebd1ff;
  --caelestia-sapphire: f2b2f2;
  --caelestia-blue: fba1d1;
  --caelestia-lavender: ffb8d7;
  --caelestia-klink: be6ca1;
  --caelestia-klinkSelection: bf6ca0;
  --caelestia-kvisited: ca5c84;
  --caelestia-kvisitedSelection: ca5b83;
  --caelestia-knegative: eb506f;
  --caelestia-knegativeSelection: eb506e;
  --caelestia-kneutral: ff878a;
  --caelestia-kneutralSelection: ff878a;
  --caelestia-kpositive: fd8c2a;
  --caelestia-kpositiveSelection: fd8c2a;
  --caelestia-text: f7e0e2;
  --caelestia-subtext1: bba6a8;
  --caelestia-subtext0: 837173;
  --caelestia-overlay2: 736364;
  --caelestia-overlay1: 625355;
  --caelestia-overlay0: 534647;
  --caelestia-surface2: 443839;
  --caelestia-surface1: 342a2b;
  --caelestia-surface0: 241b1c;
  --caelestia-base: 130c0d;
  --caelestia-mantle: 130c0d;
  --caelestia-crust: 120b0c;
  --caelestia-success: B5CCBA;
  --caelestia-onSuccess: 213528;
  --caelestia-successContainer: 374B3E;
  --caelestia-onSuccessContainer: D1E9D6;
}
